/* 2021年4月22日16:07:34 */
* {
   margin: 0;
   padding: 0;
   text-decoration: none;
   list-style: none;
}
header{
   width: 80vw;
   margin: 1rem auto;
   border-bottom: 1px solid #dedede;
}
nav {
   display: flex;
   align-items: center
}

.logo {
   flex: 1;
}

.search {
   flex: 7;
}

.navbar {
   flex: 1;
}

.search input {
   width: 8rem;
}

.search input[type="submit"] {
   width: 3rem;
   vertical-align: top;
   /* 行内元素top */
}

.navbar li {
   float: left;
   margin-left: 1rem;
}

.navbar li a {
   display: block;
   width: 3rem;
   height: 2.5rem;
   line-height: 2.5rem;
   text-align: center;
}

.login {
   color: white;
   background-color: #007bff;
   border-radius: 0.3rem;
}

article {
   width: 80vw;
   margin: 0 auto 3rem;
   display: flex;
}

.nav-left {
   flex: 1;
   margin-right: 2rem;
}

.nav-left a {
   display: block;
   height: 2rem;
   line-height: 2rem;
   color: #007BFF;
   padding: 1rem;
}

.nav-left .active {
   color: white;
   background-color: #007BFF;
   border-radius: 0.3rem;
}

.card-right {
   flex: 6;
   display: flex;
   flex-wrap: wrap;
}

.card {
   width: 30%;
   border: 1px solid #dedede;
   margin: 0.35rem;
}

.card img {
   width: 100%;
}

.card-body {
   color: #3e3e3e;
   padding: 1.25rem;
}

.card-body h3 {
   font-weight: normal;
}

footer {
   text-align: center;
   color: #3E3E3E;
}

@media(max-width:47.9375rem) {

   header,
   article {
      width: 100vw;
   }

   .login {
      flex: 1.5;
   }

   .search {
      display: none;
   }

   article {
      display: block;
   }

   .nav-left a {
      display: inline-block;
   }

   .card {
      width: auto;
   }
}
